body {
}

html {
    font-size: 62.5%; /*1 REM = 10 PX*/
}


/*¨DETALLE DE VENTAS*/


.contenido-dv {
    margin: auto;
    margin-top: 15rem;
    padding: 1rem 0;
    width: 120rem;
    height: 60rem;
    
}


.filtro-v {
    margin: auto;
    justify-content: space-between;
    width: 600px;
    height: 12rem;
    overflow: hidden;
    background: #24303c;
    border-radius: 4px;
    box-shadow: 7px 13px 37px #000;
}

.dventas {
    padding: 1rem;
    text-align: center;
    width: 40%;
    max-width: 50%;
    height: 30rem;
    float: left;
    margin: 1rem;
    background: #FFFFFF;
    border-radius: 5px;
}

.dventas-a {
    padding: 1rem;
    text-align: center;
    width: 35%;
    height: 30rem;
    float: left;
    margin: 1rem;
    background: #FFFFFF;
    border-radius: 5px;
}

.totaldv {
    display: inline-block;
    margin: 1rem;
    width: 92.7%;
    height: 5rem;
    text-align: center;
    background: #FFFFFF;
}

.totaldv-a {
    display: inline-block;
    width: 92.7%;
    height: 5rem;
    margin: 1rem;
    text-align: center;
    background: #FFFFFF;
}

.total-venta {
    float: left;
    text-align: center;
    width: 20%;
    height: 9rem;
    float: right;
    padding: 1rem;
    margin-bottom: .5rem;
    margin-top: 1rem;
    margin-right: .5rem;
    margin-left: .5rem;
    background: #FFFFFF;
    border-radius: 5px;
}

.content-ventas {
    margin: auto;
    border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    justify-content: space-between;
    padding: 1rem 1rem;
    width: 95%;
    height: 45rem;
    
}
