body {
    background-color: #000000;
    display:block;
    margin: 0 auto;
}

div {
    display:block;
    margin: 0 auto;	
}

h2 {
    font-family: 'Kanit', sans-serif;
    color: #FFFFFF;
    margin: 2rem 0;
}

.subt {
    font-family: 'Kanit', sans-serif;
    color: #FFFFFF;
    margin: 2rem 0;
    font-size: 3rem;
}

.ddl {
    margin-top: 5rem;
    display: flex;
    margin-left: 5rem;
}

.ddla {
    padding: 1rem 2rem;
    background-color: #000000;
    color: white;
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    border-bottom: solid 1px #FFFFFF;
}

    .ddlsc option {
        font-family: 'Kanit', sans-serif;
        font-weight: 200;
    }

.btnddls {
    font-family: 'Kanit', sans-serif;
    margin-left: 3rem;
    font-size: 1.5rem;
    padding: 1rem;
}
