body {
    
}

html {
    font-size: 62.5%; /*1 REM = 10 PX*/
}


.contenido {
    margin: auto;
    margin-top: 20rem;
    padding: 1rem 0;
    width: 90rem;
    height: 60rem;
    
    
}

.listado {
    margin: auto;
    margin-top: 1rem;
    padding: 1rem 1rem;
    width: 90%;
    height: 40rem;
    border-radius: 5px;
}

.grid {
    text-decoration: none;
    text-align: center;
    font-family: Verdana;
    font-size: 1.2rem;
    border-collapse: collapse;
    width:100%;
}
    .grid td {
        padding: 1rem;
        border: 1px solid #c1c1c1;
        color: #444;
        font-size: 1.2rem;
    }
    .grid th {
        padding: 4px 2px;
        color: #FFFFFF;
        background: linear-gradient(#02026C,#868BC5);
        border: 1px solid #c1c1c1;
        font-size: 1em;
        text-align: center;
    }

    .grid th a{
                color:white;
               text-decoration:none;

    }
    .grid th a:hover{
                     color:#444;
                     text-decoration:none;

    }
    .grid .alt{background:linear-gradient(#fff,#e6e6e6);}

.filtros {
    margin: auto;
    width: 700px;
    height: 12rem;
    overflow: hidden;
    background: #24303c;
    border-radius: 4px;
    box-shadow: 7px 13px 37px #000;
}

    .filtros h4 {
        margin-left:1.5rem;
        font-size: 2rem;
        margin-bottom: 0;
        color: #FFFFFF;
    }

.input[type=text] {
    width: 100%;
    border: 1px solid #1f53c5;
    border-radius: 4px;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
    color: #FFFFFF;
    background: #24303c;
    
}

    .input[type=text]:focus {
        border-color: #594E4E;
        box-shadow: 0 0 8px 0 #594E4E;
    }

input[type=date] {
    width: 100%;
    border: 1px solid #1f53c5;
    border-radius: 4px;
    outline: none;
    padding: 5.5px;
    box-sizing: border-box;
    transition: .3s;
    background: #24303c;
    color: #FFFFFF;
}
.input[type=date]:focus {
    border-color: #594E4E;
    box-shadow: 0 0 8px 0 #594E4E;
}


.item {
    margin: 1rem;
    float: left;
    width: 22%;
    margin-bottom: 0;
}
.boton {
    position: relative;
    display: inline-block;
    padding: 1rem 3rem;
    text-transform: uppercase;
    text-decoration: none;
    background: #1f53c5;
    transition: 0.5s, background 0.5s;
    border: none;
    color: #FFFFFF;
    margin: 0;
    font-size: 1.2rem;
}

    /*  .boton:hover {
        color: #000000;
        background-color: transparent;
        border: 2px solid #aaa;
    }*/


    .boton:active {
        box-shadow: inset 0 0 20px #FFFFFF;
        
    }

.btn-item {
    
    display:inline-block;
    position:relative;
    margin: 1rem;
    float:left;
   
}

